body{
    background-image: url(../media/mushroom_bg.jpg);
    background-size: cover;
    background-repeat:repeat;
    background-color: dark green;
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
canvas{
    
    box-shadow:black 20px 10px 50px;
  }
  h1, h2{
      align-items: center;
      opacity: .7;
      color:yellow;
  }